main-page {
   
}
.button[icon-only]{
    float: right;
}

.setting{
    color: darkgreen;
}

.main-btn{
    color: black;
    border-color:#dedede;
}

.pin-btn{
    color: yellow;
}

.exit-btn{
    color: cornflowerblue;
}

.sos-btn{
    background: url("../assets/imgs/sos.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


   
